In [1]:
import pandas as pd
import numpy as np
df= pd.read_csv('task2.csv')
print(df)

               ID Segment type Segment Description Answer        Count  \
0     292890.8970          web     Meridian, Idaho     No     0.000000
1     292887.9870          web     Meridian, Idaho     No     0.000000
2     292894.0656       gender     Meridian, Idaho     No   499.173606
3     292887.1180          web     Meridian, Idaho     No     0.000000
4     292893.6561       gender     Meridian, Idaho     No   455.925963
...           ...          ...                 ...    ...          ...
1891  292887.5496          web     Meridian, Idaho     No     0.000000
1892  292881.6932       mobile     Meridian, Idaho     No  1203.190399
1893  292900.8499       gender     Meridian, Idaho     No   806.378820
1894  292893.8600       gender     Meridian, Idaho     No  1149.529381
1895  292890.2944          web     Meridian, Idaho     No     0.000000

      Percentage  It became a relationship
0       0.000000                         0
1       0.000000                         0
2       0.225255                         0
3       0.000000                         0
4       0.211360                         0
...          ...                       ...
1891    0.000000                         0
1892    0.312360                         0
1893    0.488025                         0
1894    0.488984                         0
1895    0.000000                         0

[1896 rows x 7 columns]

In [23]:
df=df.replace(to_replace = np.nan, value = 0) 
df=df.replace(to_replace ="No", 
                            value = 0)

In [27]:
df=df.replace(to_replace ="Yes", 
                            value =1)
df=df.replace(to_replace ="I don't use Tinder", 
                            value =2)

In [28]:
df=df.replace(to_replace ="web", 
                            value =0)
df=df.replace(to_replace ="gender", 
                            value =1)
df=df.replace(to_replace ="university", 
                            value =2)
df=df.replace(to_replace ="mobile", 
                            value =3)

In [26]:
df.head()

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,0,"Meridian, Idaho",0,0.000000,0.000000,0
1,292887.9870,0,"Meridian, Idaho",0,0.000000,0.000000,0
2,292894.0656,1,"Meridian, Idaho",0,499.173606,0.225255,0
3,292887.1180,0,"Meridian, Idaho",0,0.000000,0.000000,0
4,292893.6561,1,"Meridian, Idaho",0,455.925963,0.211360,0

In [15]:
from sklearn.model_selection import train_test_split

In [37]:
X= df.drop(columns="It became a relationship")
X= X.drop(columns="Segment Description")
X= X.drop(columns="ID")
y= df["It became a relationship"]
X.head()

   Segment type  Answer       Count  Percentage
0             0       0    0.000000    0.000000
1             0       0    0.000000    0.000000
2             1       0  499.173606    0.225255
3             0       0    0.000000    0.000000
4             1       0  455.925963    0.211360

In [38]:
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.2)

In [39]:
X_test

      Segment type  Answer        Count  Percentage
1003             0       0     0.000000    0.000000
1288             1       0  1011.455151    0.318027
1146             3       0  1339.726243    0.347775
1537             1       0   982.377880    0.340938
327              1       0   492.598636    0.260751
...            ...     ...          ...         ...
1681             0       0     0.000000    0.000000
601              3       0  1831.500397    0.475335
1852             3       0  1567.719016    0.406913
1349             1       0  1115.222961    0.429418
1485             3       0   925.857513    0.396300

[380 rows x 4 columns]

In [62]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)

In [63]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [64]:
clf.predict(X_test)

array([0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1], dtype=int64)

In [65]:
y_test

1003    0
1288    1
1146    0
1537    1
327     0
       ..
1681    0
601     0
1852    0
1349    0
1485    1
Name: It became a relationship, Length: 380, dtype: int64

In [66]:
clf.score(X_test, y_test)

0.8947368421052632

In [74]:
clf=RandomForestClassifier(random_state=42, n_estimators=5,max_depth=100)
print(clf.get_params())
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

{'bootstrap': True, 'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': 100, 'max_features': 'auto', 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_impurity_split': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 5, 'n_jobs': None, 'oob_score': False, 'random_state': 42, 'verbose': 0, 'warm_start': False}

0.881578947368421

In [55]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))

0.8868421052631579

In [68]:
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))

0.8578947368421053